{% extends 'base.html.twig' %}

{% block title %}Lista użytkowników{% endblock %}

{% block body %}
    <h1>Users data list</h1>

    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Attachment</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.attachment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}